import /init.mitee.rc
import /init.vibrator.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop crypto.ready 1

on fs
    install_keyring

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6833 --late

on post-fs
    start boot-hal-1-2

    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

# Services
service keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@3.0-service.mitee
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-mitee /vendor/bin/hw/android.hardware.gatekeeper-service.mitee
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service health-default /vendor/bin/hw/android.hardware.health-service.example
    class hal
    user root
    group root
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
    disabled
    seclabel u:r:recovery:s0

#####

on property:crypto.ready=1
    start keymint-mitee

on property:hwservicemanager.ready=true
    start keymint-mitee
    start gatekeeper-mitee

on property:ro.crypto.state=unsupported
    stop keymint-mitee
    stop gatekeeper-mitee
    stop tee-supplicant
    stop miteelog
    
on property:ro.crypto.state=unencrypted
    stop keymint-mitee
    stop gatekeeper-mitee
    stop tee-supplicant
    stop miteelog

on property:twrp.decrypt.done=true
    stop keymint-mitee
    stop gatekeeper-mitee
    stop tee-supplicant
    stop miteelog
    

on property:crypto.ready=0
    stop keymint-mitee
    stop gatekeeper-mitee
    stop tee-supplicant
    stop miteelog

on boot
    start health-default
